<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>SNAP:DRGN {{ title }}</title>
<style>
 body  { margin: 5px; }
 div.group { border: solid red 1pt; padding: 2pt; margin-bottom: 10pt; background-color: lightgrey; }
 h3 {color: green; }
 td { vertical-align: top; }
</style>
</head>
<body>
<h1>SNAP:DRGN {{ title }}</h1>
<table>
 <tr><td><b>ID</b></td><td>
{% for key, value in id_pairs.items %}
 <li>{{ value }} (<a href="{{ key }}">{{ key }}</a>)</li>
{% endfor %}
 </td>
 </tr> <!-- originating/external project name and id numbers not full uris -->
 <tr><td><b>SNAP ID</b></td><td>{{ url }}</td></tr>
 <tr><td><b>Publisher(s)</b></td><td>
   <ul>
     {% for value in object_results.publisher %}
     <li> {{value}} </li>
     {% endfor %}
   <ul>
 </td></tr>
</table>

{% if subject_results or object_results %}
<!--
[originating project] (dc:publisher)
[orig project link]
 
-->
  
 <!-- [Who replaces me?] … (list ids created from this being merged with another id) [If this exists then everything else of the page should be slightly greyed out]
[Who I replaced?] … (list ids which I replaced)
[Related entities?] … (list ids with whom I have overlapping merged content)
--> 


{% if subject_results.DerivedFrom and subject_results.DerivedFrom.0 != url %}
<div class="group">
<h3>Replaces</h3> 
<ul>
 {% for value in subject_results.DerivedFrom %}
    {% if value != url %}
   <li> {{value}} </li>
    {% endif %}
 {% endfor %}
</ul>
</div>
{% endif %}

{% if object_results.DerivedFrom %}
<div class="group">
<h3>Derived from</h3> 
<ul>
 {% for value in object_results.DerivedFrom %}
   <li> {{value}} </li>
 {% endfor %}
</ul>
</div>
{% endif %}

<div class="group">
<h3>Name</h3> 
<!-- 
[name(s)] (all distinct known names, list, collated by language)
[name uri(s)/link(s)] … (where there is a uri then show that)
-->

{% if object_results.name or object_results.hasName %}
<ul>
 {% for value in object_results.name %}
   <li> {{value}} </li>
 {% endfor %}
 {% for value in object_results.hasName %}
   <li> {{value}} </li>
 {% endfor %}
</ul>
{% endif %}

<!--


[SNAP-id]
[SNAP uri]  [rdf] [json] [etc]

-->
</div>

<div class="group">


<h3>Associated Information:</h3> 
<!-- Associated place & associated data 
[Associated-date] 0001-0300 (All distinct)
[Associated-place] Aphrodisias (All distinct with place text and place uri)
-->

<h4>Associated Place</h4>

{% if object_results.associatedPlace %}
<ul>
 {% for value in object_results.associatedPlace %}
   <li> {{value}} </li>
 {% endfor %}
</ul>
{% endif %}

<h4>Associated Date</h4>

{% if object_results.associatedDate %}
<ul>
 {% for value in object_results.associatedDate %}
   <li> {{value}} </li>
 {% endfor %}
</ul>
{% endif %}

</div>


<div class="group">
<h3>Attestations</h3>
<!-- Attestations

[Person Attestation (from)] … (All distinct)
[Person Attestation (link)] … (All distinct)
[Name Attestation (from)] … (All distinct)
[Name Attestation (link)] … (All distinct)
[citation (text)] … (All distinct)
[citation (link)] … (All distinct)
 -->
 
<h4>Textual References</h4> 
 <ul>
 {% for value in object_results.isPrimaryTopicOf %}
   <li> {{value}} </li>
 {% endfor %}
  {% for value in object_results.hasAttestation %}
   <li> {{value}} </li>
 {% endfor %}
</ul>

</div>

<div class="group">
<h3>Associated People</h3>
<!-- Family 
 
 [Relationships-in-plain-text] … (All distinct)
[Relationships-with-hyperlinks] … (All distinct with persons linked to snap ids where existing)
 
 -->
 
 <ul>
 {% for value in object_results.hasBond %}
   <li> {{value}} </li>
 {% endfor %}
</ul>
 
 <!-- [Other identifiers] … (seeAlsos - any non-originating resources identified as being the same i.e. wikipedia, non-combined viaf etc) -->

<!--<h3>Related Entities</h3>
 Overlapping QuACs -->

</div>

{% if test %}

<hr />
<p><small>
object <br />
 {% for key, value in object_results.items %}
    {{ key }} : {{ value }} <br/>
 {% endfor %}

subject <br /> 
  {% for key, value in subject_results.items %}
    {{ key }} : {{ value }} <br/>
 {% endfor %}
 
bonds <br /> 
  {% for key, value in bond_results.items %}
    {{ key }} : {{ value }} <br/>
 {% endfor %} 
<hr/>

{{ debug }} 
 
 </small>
 </p>
 {% endif %}
 
{% else %}
    <p> no details yet</p>
{% endif %}

</body>
</html>
