<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>SNAP:DRGN Search: place</title>
<link href="../../../../design/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="page" class="hfeed site">

	<div id="site-header">
		<a href="http://data.snapdrgn.net/person/1/" rel="home">
			<img src="../../../../design/bannermain10.gif" width="1260" height="190" alt="Site Banner Image">
		</a>
	</div>
	
	<header id="masthead" class="site-header" role="banner">
		<div class="header-main">
			<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
				<div class="nav-menu">
					<ul>
						<li><a href="http://snapdrgn.net/">Home</a></li>
						<li><a href="">Browse</a></li>
						<li><a href="">Sparql test</a></li>
						<li><a href="">Data sources</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>


	<div id="main" class="site-main">

		<div id="main-content" class="main-content">

			<div id="primary" class="content-area">

				<div id="content" class="site-content" role="main">
					<div class="personSearch">
					<table>
						<tr>
							<td><b>Place URI:</b></td>
							<td><input class="searchbox" type="text" name="snapID" value="http://www.lgpn.ox.ac.uk/placecode/LGPN_50130" size="45"></td>
							<td><button class="searchbutton" type="button">Search</button></td>
						</tr>
						<tr>	
							<td>-OR-</td>
						</tr>
						<tr>
							<td><b>Place Name:</b></td>
							<td><input class="searchbox" type="text" name="snapURI" size="30"></td>
							<td><button class="searchbutton" type="button">Search</button></td>
						</tr>
						<tr>
							<td colspan="3"><br/>
							*Not all places in SNAP are expressed as Pleiades, but neither do all have names.</td>
						</tr>
					</table>
						
						<hr/>
						<br/>
						<b>Results:</b>
						<br/>Your searched for the name Marcus; you found 4 results.<br/>
						<ol>
							<li><a href="">565390: Swsandros</a>&nbsp;(LGPN V5a-42355) Ephesos</li>
							<li><a href="">565238: Dioskouridhs</a>&nbsp;(LGPNV5a-27397) Ephesos</li>
							<li><a href="">...</a>&nbsp;(...)</li>
							<li><a href="">...</a>&nbsp;(...)</li>
						</ol>
					</div>	
				</div>
				
			</div>
			
			<div id="content-sidebar" class="content-sidebar widget-area" role="complementary">
				<aside class="widget">
					<h1 class="widget-title">Resources 1</h1>
					<ul>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
					</ul>
				</aside>
				<aside class="widget">
					<h1 class="widget-title">Resources 2</h1>
					<ul>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
					</ul>
				</aside>
				<aside class="widget">
					<h1 class="widget-title">Resources 2</h1>
					<ul>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
						<li>
							<a href="">Some links here</a>
						</li>
					</ul>
				</aside>
				
			</div>
		</div>

		<div id="secondary">

		<div class="secondary-nav-title">Title of secondary navigation</div>

			<nav role="navigation" class="navigation site-navigation secondary-navigation">
				<div class="menu-snap-resources-container">
					<ul id="menu-snap-resources" class="menu">
						<li><a href="">Nav 1</a></li>
						<li><a href="">Nav 2</a></li>
						<li><a href="">Nav 3</a></li>
						<li><a href="">Nav 4</a></li>
						<li><a href="">Nav 5</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	

	<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-info">
	Any site information</div>
	</footer>
</div>
</body>
</html>
